{% extends 'base.html.twig' %}

{% set pageTitle = 'Suppression de ' ~ contact.lastname ~' '~ contact.firstname %}

{% block title %}{{pageTitle }}{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.delete, {'label': 'Supprimer', 'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_row(form.cancel, {'label' : 'Annuler', 'attr': {'class': 'btn btn-secondary'}}) }}
{% endblock %}
