{% extends 'base.html.twig' %}

{% block title %}Edition de {{ contact.lastname}}, {{ contact.firstname}}{% endblock %}

{% block body %}
    <h1>Edition de {{ contact.lastname}}, {{ contact.firstname}}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-outline-dark w-100">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
