{% extends 'base.html.twig' %}

{% block title %}Edition de {{ contact.lastname}}, {{ contact.firstname}}{% endblock %}

{% block body %}
    <h1>Edition de {{ contact.lastname}}, {{ contact.firstname}}</h1>
    {{ form(form) }}
{% endblock %}
